<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="GeoIP Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".inc">./src</directory>
            <directory suffix=".php">./src</directory>
        </whitelist>
        <blacklist>
            <directory>./build</directory>
            <directory>./composer</directory>
            <directory>./tests</directory>
            <directory>./travis</directory>
            <directory>./vendor</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

</phpunit>
